<a href="https://colab.research.google.com/github/sksuman97/WorldBank-Global-Education-Analysis/blob/main/Sumanta_Muduli_World_Bank_Global_Education_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The World Bank EdStats All Indicator Query holds over 4,000 internationally comparable indicators that describe education access, progression, completion, literacy, teachers, population, and expenditures.The indicators cover the education cycle from pre-primary to vocational and tertiary education and also holds learning outcome data from international and regional learning assessments (e.g. PISA, TIMSS, PIRLS), equity data from household surveys, and projection/attainment data. </b>

## <b> Explore and analyze the data to identify variation of indicators across the globe, which countries are more alike and different. Feel free to add more extensive analyses and details.</b>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df1=pd.read_csv('/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/capstone project/data/EdStatsCountry-Series.csv')

In [4]:
df2=pd.read_csv('/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/capstone project/data/EdStatsCountry.csv')

In [5]:
df3=pd.read_csv('/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/capstone project/data/EdStatsData.csv')

In [6]:
df4=pd.read_csv('/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/capstone project/data/EdStatsFootNote.csv')

In [7]:
df5=pd.read_csv('/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/capstone project/data/EdStatsSeries.csv')

In [8]:
df1.head()

  CountryCode  ... Unnamed: 3
0         ABW  ...        NaN
1         ABW  ...        NaN
2         AFG  ...        NaN
3         AFG  ...        NaN
4         AFG  ...        NaN

[5 rows x 4 columns]

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 19.3+ KB

In [20]:
# Drop the column unnamed as it does not have any non null values
del df1['Unnamed: 3']

In [21]:
df1.head()

  CountryCode  ...                                        DESCRIPTION
0         ABW  ...  Data sources : United Nations World Population...
1         ABW  ...  Data sources: United Nations World Population ...
2         AFG  ...  Data sources: United Nations World Population ...
3         AFG  ...                 Estimates are based on regression.
4         AFG  ...  Data sources : United Nations World Population...

[5 rows x 3 columns]

In [17]:
df1['SeriesCode'].unique()

array(['SP.POP.TOTL', 'SP.POP.GROW', 'NY.GDP.PCAP.PP.CD',
       'NY.GDP.MKTP.PP.KD', 'NY.GNP.MKTP.PP.CD', 'NY.GDP.MKTP.PP.CD',
       'NY.GDP.PCAP.PP.KD', 'NY.GNP.PCAP.PP.CD', 'SP.POP.1564.TO.ZS',
       'SP.POP.TOTL.MA.ZS', 'SP.POP.TOTL.FE.ZS', 'SP.POP.0014.TO.ZS',
       'NY.GNP.PCAP.CD', 'NY.GDP.PCAP.CD', 'NY.GDP.PCAP.KD',
       'SP.POP.1564.MA.IN', 'SP.POP.0014.TO', 'SP.POP.1564.TO',
       'SP.POP.1564.FE.IN', 'SP.POP.0014.MA.IN', 'SP.POP.0014.FE.IN'],
      dtype=object)

In [24]:
df1['CountryCode'].unique().shape

(211,)

In [15]:
df1['DESCRIPTION'].unique()

array(['Data sources : United Nations World Population Prospects',
       'Data sources: United Nations World Population Prospects',
       'Estimates are based on regression.',
       'Data sources : Institute of Statistics, Eurostat',
       'Data sources : Australian Bureau of Statistics',
       'Including Other Territories comprising Jervis Bay Territory, Christmas Island and the Cocos (Keeling) Islands. ',
       'Data sources: Australian Bureau of Statistics',
       'Data sources : Eurostat',
       'Data sources : Eurostat, State Statistical Committee, United Nations World Population Prospects',
       'Data sources: Eurostat, State Statistical Committee, United Nations World Population Prospects',
       'Data sources : National Statistical Committee of the Republic of Belarus',
       'Data sources: National Statistical Committee of the Republic of Belarus',
       'Data sources : Bermuda Government Department of Statistics',
       'Data sources: Bermuda Government Department of Statistics',
       'Data sources : Statistics Canada',
       'Data sources: Statistics Canada',
       'Refers to Guernsey, and Jersey.',
       'Data sources : National Bureau of Statistics',
       'Excluding Hong Kong SAR, Macao SAR, Taiwan.',
       'Data sources: National Bureau of Statistics',
       'Data are for areas under the effective control of the Government of the Republic of Cyprus.',
       'Including Northern-Cyprus.',
       'Data sources: Eurostat, United Nations World Population Prospects. Including the French overseas departments of French Guiana, Guadeloupe, Martinique, Mayotte, and Réunion.',
       'Including the four French overseas departments (French Guyana, Guadeloupe, Martinique and Réunion)',
       'Data sources : Eurostat, United Nations World Population Prospects. Including the French overseas departments of French Guiana, Guadeloupe, Martinique, Mayotte, and Réunion.',
       'Data sources: Eurostat',
       'Data sources : GeoStats. GeoStats. Adjusted to mid-year population using geometric mean for the years where mid-year population figures are not available. Excluding Abkhazia and South Ossetia.',
       'Including Abkhazia and South Ossetia.',
       'Excludes Abkhazia and South Ossetia.',
       'Derived using ratio of age group from WPP and World Bank population.',
       'Data sources: GeoStats. GeoStats. Adjusted to mid-year population using geometric mean for the years where mid-year population figures are not available. Excluding Abkhazia and South Ossetia.',
       'Excluding Abkhazia and South Ossetia.',
       'Data sources: Statistics Greenland',
       'Data sources : Statistics Greenland',
       'Data sources: Census and Statistics Department',
       'Data sources : Census and Statistics Department',
       'Data sources: Croatian Bureau of Statistics, Council of Europe',
       'Data sources : Croatian Bureau of Statistics, Council of Europe',
       'Data sources: Central Bureau of Statistics',
       'Data sources : Central Bureau of Statistics',
       'Data sources: Ministry of Internal Affairs and Communications, Statistics Bureau; United Nations Population and Vital Statistics Report',
       'Data sources : Ministry of Internal Affairs and Communications, Statistics Bureau; United Nations Population and Vital Statistics Report',
       'Data sources : Statistical Agency of Kazakhstan, 1979 Census, 1989 Census, United Nations World Population Prospects',
       'Data sources: Statistical Agency of Kazakhstan, 1979 Census, 1989 Census, United Nations World Population Prospects',
       'Data sources : National Statistical Committee, United Nations World Population Prospects',
       'Data sources: National Statistical Committee, United Nations World Population Prospects',
       'Data sources : Korean Statistical Information Service',
       'Data sources: Korean Statistical Information Service',
       "Data sources : Registrar General's Department, Department of Census and Statistics",
       "Data sources: Registrar General's Department, Department of Census and Statistics",
       'Includes Former Spanish Sahara.',
       'Morocco only. (Excluding former Spanish Sahara)',
       "Data sources : National Bureau of Statistics. Excluding Transnistria. For 1950-94, World Bank estimates using UN World Population Prospects' growth rates of whole Moldova.",
       'Excludes Transnistria.', 'Including Transnistria.',
       "Data sources: National Bureau of Statistics. Excluding Transnistria. For 1950-94, World Bank estimates using UN World Population Prospects 2010 Revision's growth rates of whole Moldova.",
       'Excluding Transnistria.',
       'Data sources : For 1960-1989, United Nations World Population Prospects. For 1990 onwards, 1990, 1995, 2000, 2006, 2014 censuses, and data on expatriate employment from Maldives National Bureau of Statistics. The census data are adjusted for mid-year and for foreign population.',
       'Data sources: For 1960-1989, United Nations World Population Prospects. For 1990 onwards, 1990, 1995, 2000, 2006, 2014 censuses, and data on expatriate employment from Maldives National Bureau of Statistics. The census data are adjusted for mid-year and for foreign population.',
       'Data sources : For years after 2000, Statistical Office of Montenegro. For years 1960-1999, growth rates of United Nations World Population Prospects were used to estimate backwards.',
       'Data sources : Statistics Mauritius, United Nations World Population Prospects',
       'Including Agalega and St. Brandon.',
       'Data sources: Central Statistics Office, United Nations Population and Vital Statistics Report, United Nations World Population Prospects',
       'Excluding Agalega and St. Brandon.',
       'Including Sabah and Sarawak.',
       'Data sources : Institute of Statistics and Economic Studies',
       'Data sources: Institute of Statistics and Economic Studies, 1983 Census, 1989 Census, 1996 Census',
       'Data sources: Statistics New Zealand',
       'Data sources : Statistics New Zealand',
       'Data sources : U.S. Census Bureau, 1990 Census',
       'Data sources: U.S. Census Bureau, 1990 Census',
       'Data sources : World Bank estimates based on data from Palestinian Central Bureau of Statistics, excluding E. Jerusalem.',
       'Excluding East Jerusalem.',
       'Data sources: World Bank estimates based on data from Palestinian Central Bureau of Statistics, excluding E. Jerusalem.',
       'Data sources : Russian Federation Federal State Statistics Service (its January 1st populations were adjusted to mid-year populations by using geometric mean), 1979 Census, 1989 Census.',
       'Data sources : United Nations World Population Prospects. Estimates are for Sudan excluding South Sudan.',
       'Data sources: Department of Statistics Singapore',
       'Data sources : Department of Statistics Singapore',
       'Data sources: Statistical Office of the Republic of Serbia, Eurostat, TransMONEE, Council of Europe. Excluding Kosovo for all years 1950-2011',
       'Including Kosovo.',
       'Data sources : Statistical Office of the Republic of Serbia, Eurostat, TransMONEE, Council of Europe. Note : Excluding Kosovo.',
       'Excluding Kosovo.', 'Covers mainland Tanzania only.',
       'Including Zanzibar.',
       'Data sources : State Statistics Committee of Ukraine, United Nations World Population Prospects, Council of Europe, United Nations Population and Vital Statistics Report',
       'Data sources: State Statistics Committee of Ukraine, United Nations World Population Prospects, Council of Europe, United Nations Population and Vital Statistics Report',
       'Data sources : U.S. Census Bureau',
       'Data sources: U.S. Census Bureau',
       'Data sources : State Committee of the Republic of Uzbekistan on Statistics, United Nations World Population Prospects',
       'Based on official exchange rates.',
       'Data sources : U.S. Census Bureau, United Nations Population and Vital Statistics Report',
       'Data sources: U.S. Census Bureau, United Nations Population and Vital Statistics Report',
       'Data sources: General Statistics Office of Vietnam',
       'Data sources : General Statistics Office of Vietnam',
       "Data sources : World Bank's Kosovo coutnry office, Kosovo Agency of Statistics, U.S. Census Bureau",
       "Data sources: World Bank's Kosovo coutnry office, Kosovo Agency of Statistics, U.S. Census Bureau",
       'Data sources : Statistics South Africa, United Nations World Population Prospects'],
      dtype=object)

In [10]:
df2.head(2)

  Country Code   Short Name  ... Latest water withdrawal data Unnamed: 31
0          ABW        Aruba  ...                          NaN         NaN
1          AFG  Afghanistan  ...                         2000         NaN

[2 rows x 32 columns]

In [27]:
df2.shape

(241, 32)

In [23]:
df2['Country Code'].unique().shape

(241,)

In [26]:
df2['Special Notes'][0]

'SNA data for 2000-2011 are updated from official government statistics; 1994-1999 from UN databases. Base year has changed from 1995 to 2000.'

In [37]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

In [12]:
df3.head(3)

  Country Name Country Code  ... 2100 Unnamed: 69
0   Arab World          ARB  ...  NaN         NaN
1   Arab World          ARB  ...  NaN         NaN
2   Arab World          ARB  ...  NaN         NaN

[3 rows x 70 columns]

In [34]:
df3['Indicator Name'][0]

'Adjusted net enrolment rate, lower secondary, both sexes (%)'

In [ ]:
df3['Indi']

In [13]:
df4.head()

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

In [14]:
df5.head()

           Series Code       Topic  ... License Type Unnamed: 20
0  BAR.NOED.1519.FE.ZS  Attainment  ...          NaN         NaN
1     BAR.NOED.1519.ZS  Attainment  ...          NaN         NaN
2  BAR.NOED.15UP.FE.ZS  Attainment  ...          NaN         NaN
3     BAR.NOED.15UP.ZS  Attainment  ...          NaN         NaN
4  BAR.NOED.2024.FE.ZS  Attainment  ...          NaN         NaN

[5 rows x 21 columns]

In [ ]:
df5.loc[~]

In [33]:
df5.shape

(3665, 21)

In [32]:
df5['Indicator Name'].unique().shape

(3665,)

In [29]:
df5['Indicator Name'][0]

'Barro-Lee: Percentage of female population age 15-19 with no education'

In [30]:
df5['Indicator Name'][1]

'Barro-Lee: Percentage of population age 15-19 with no education'

In [31]:
df5['Indicator Name'][4]

'Barro-Lee: Percentage of female population age 20-24 with no education'